{% comment %}
  Renders a megamenu for the header.

  Usage:
  {% render 'header-mega-menu' %}
{% endcomment %}



<nav class="header__inline-menu">
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        const menuDetails = document.querySelectorAll('details.mega-menu');
        let closeTimeout;

        function removeAllUnderlines() {
          document.querySelectorAll('span.header__top-level-link.width-underline').forEach(function(span) {
            span.classList.remove('width-underline');
          });
        }

        function closeAllMenus() {
          menuDetails.forEach(function(detail) {
            detail.removeAttribute('open');
            detail.querySelector('span.header__top-level-link').classList.remove('width-underline');
          });
        }

        menuDetails.forEach(function(detail) {
          const summary = detail.querySelector('summary');
          const span = summary.querySelector('span.header__top-level-link');

          detail.addEventListener('mouseover', function() {
            // Clear any pending timeout to close the menu
            clearTimeout(closeTimeout);
            // Close all other menus before opening the new one
            closeAllMenus();
            // Open the hovered menu and add underline
            detail.setAttribute('open', '');
            span.classList.add('width-underline');
          });

          detail.addEventListener('mouseout', function() {
            // Delay closing the menu and removing the underline
            closeTimeout = setTimeout(function() {
              if (!detail.querySelector(':hover')) {
                detail.removeAttribute('open');
                span.classList.remove('width-underline');
              }
            }, 500); // Delay in milliseconds (500ms = 0.5 seconds)
          });
        });

        // If a user clicks anywhere else on the document, remove all underlines and close menus
        document.addEventListener('click', function(event) {
          if (!event.target.closest('.mega-menu')) {
            removeAllUnderlines();
            closeAllMenus();
          }
        }, true);
      });
    </script>

    <ul class="list-menu list-menu--inline" role="list">
    {%- for link in section.settings.menu.links -%}
      <li>
        {%- if link.links != blank -%}
          <header-menu>
            <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
              <summary
                id="HeaderMenu-{{ link.handle }}"
                class="header__menu-item list-menu__item link focus-inset"
              >
              <a href="{{ link.url }}"
                 class="header__menu-item list-menu__item link link--text focus-inset"
              >
                <span
                  {%- if link.child_active %}
                    class="header__active-menu-item header__top-level-link"
                  {% endif %}
                    class="header__top-level-link"
                >
                  {{- link.title | escape -}}
                </span>
              </a>
              </summary>
              <div
                id="MegaMenu-Content-{{ forloop.index }}"
                class="mega-menu__content color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup"
                tabindex="-1"
              >
              <div class="mega-menu__content-container">
              <div class="mega-menu__links-container">
                <ul
                  class="mega-menu__list page-width{% if link.levels == 1 %} mega-menu__list--condensed{% endif %}"
                  role="list"
                >
                  {%- for childlink in link.links -%}
                    <li>
                      <{%- if childlink.links != blank -%} p {%- else -%} a {% endif %}
                        id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                        href="{{ childlink.url }}"
                        class="{%- if childlink.links != blank -%}mega-menu__headertext {%- else -%} mega-menu__sublink mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}{% endif %}"
                        {% if childlink.current %}
                          aria-current="page"
                        {% endif %}
                      >
                        {{ childlink.title | escape }}
                      <{%- if childlink.links != blank -%} /p {%- else -%} /a {% endif %}>
                      {%- if childlink.links != blank -%}
                        <ul class="list-unstyled" role="list">
                          {%- for grandchildlink in childlink.links -%}
                            <li>
                              <a
                                id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                href="{{ grandchildlink.url }}"
                                class="mega-menu__sublink mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"
                                {% if grandchildlink.current %}
                                  aria-current="page"
                                {% endif %}
                              >
                                {{ grandchildlink.title | escape }}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                    </li>
                  {%- endfor -%}
                </ul>
                  <div class="mega-menu__footer-links">
                      {% assign index = forloop.index %}
                      {% case index %}
                          {% when 1 %}
                              {% if section.settings.dropdown_footer1 %}
                                  <ul class="mega-menu__footer-list">
                                      {% for link in linklists[section.settings.dropdown_footer1].links %}
                                          <li class="mega-menu__footer-item">
                                              <a href="{{ link.url }}" class="mega-menu__footer-link">
                                                  {{ link.title | escape }}
                                                  <span class="mega-menu__footer-link-arrow">→</span>
                                              </a>
                                          </li>
                                      {% endfor %}
                                  </ul>
                              {% endif %}
                          {% when 2 %}
                              {% if section.settings.dropdown_footer2 %}
                                  <ul class="mega-menu__footer-list">
                                      {% for link in linklists[section.settings.dropdown_footer2].links %}
                                          <li class="mega-menu__footer-item">
                                              <a href="{{ link.url }}" class="mega-menu__footer-link">
                                                  {{ link.title | escape }}
                                                  <span class="mega-menu__footer-link-arrow">→</span>
                                              </a>
                                          </li>
                                      {% endfor %}
                                  </ul>
                              {% endif %}
                      {% endcase %}
                  </div>
              </div>
                  {% assign index = forloop.index %}
                  <div class="mega-menu__blocks-container">
                      {% case index %}
                          {% when 1 %}
                              {% for block in section.blocks %}
                                  {% if block.type == 'dropdown1_image' %}
                                      <div class="mega-menu__block_redesign">
                                          {% if block.settings.image != blank %}
                                              <a href="{{ block.settings.link }}" class="mega-menu__block-link">
                                                  <img src="{{ block.settings.image | img_url: 'large' }}" alt="{{ block.settings.title | escape }}" class="mega-menu__block-image">
                                              </a>
                                          {% endif %}
                                          <div class="mega-menu__block-text">
                                              <h3 class="mega-menu__block-title">{{ block.settings.title }}</h3>
                                              {% if block.settings.blurb != blank %}
                                                  <span class="mega-menu__block-blurb">{{ block.settings.blurb }}</span>
                                              {% endif %}
                                              <p class="mega-menu__block-summary">{{ block.settings.summary }}</p>
                                          </div>
                                      </div>
                                  {% endif %}
                              {% endfor %}
                          {% when 2 %}
                              {% for block in section.blocks %}
                                  {% if block.type == 'dropdown2_image' %}
                                      <div class="mega-menu__block_redesign">
                                          {% if block.settings.image != blank %}
                                              <a href="{{ block.settings.link }}" class="mega-menu__block-link">
                                                  <img src="{{ block.settings.image | img_url: 'large' }}" alt="{{ block.settings.title | escape }}" class="mega-menu__block-image">
                                              </a>
                                          {% endif %}
                                          <div class="mega-menu__block-text">
                                              <h3 class="mega-menu__block-title">{{ block.settings.title }}</h3>
                                              {% if block.settings.blurb != blank %}
                                                  <span class="mega-menu__block-blurb">{{ block.settings.blurb }}</span>
                                              {% endif %}
                                              <p class="mega-menu__block-summary">{{ block.settings.summary }}</p>
                                          </div>
                                      </div>
                                  {% endif %}
                              {% endfor %}
                      {% endcase %}
                  </div>
              </div>
              </div>
            </details>
          </header-menu>
        {%- else -%}
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="header__menu-item list-menu__item link link--text focus-inset"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span
              {%- if link.current %}
                class="header__active-menu-item header__top-level-link"
              {% endif %}
              class="header__top-level-link"
            >
              {{- link.title | escape -}}
            </span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>
