{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}<!-- -->{% capture reploVariantIdString %}null{% endcapture %}<!-- -->{% capture reploSellingPlanIdString %}null{% endcapture %}<!-- -->{% capture reploIdKey %}id{% endcapture %}<!-- -->{% capture spKey %}selling_plan{% endcapture %}<!-- -->{%- liquid
              assign reploVariantId = reploVariantIdString | times: 1
              assign reploSelectedVariant = product.variants | where: reploIdKey, reploVariantId | first
              if reploSelectedVariant == blank
                assign reploSelectedVariant = product.selected_or_first_available_variant
              endif
              if product.selling_plan_groups[0]
                assign reploSellingPlanId = reploSellingPlanIdString | times: 1
                assign reploAllSellingPlans = reploSelectedVariant.selling_plan_allocations | map: spKey
                assign reploSortedSellingPlans = reploAllSellingPlans | sort: reploIdKey
                assign reploSelectedSellingPlan = reploSortedSellingPlans | where: reploIdKey, reploSellingPlanID | first
              endif
            -%}<!-- -->{% assign reploCompareAtPriceDifferencePercentage = 0 %}<!-- -->{% if reploSelectedVariant.compare_at_price != blank %}<!-- -->{% assign reploCompareAtPriceDifferencePercentage = reploSelectedVariant.compare_at_price | minus: reploSelectedVariant.price | at_least: 0 | times: 100.0 | divided_by: reploSelectedVariant.compare_at_price | floor %}<!-- -->{% endif %}<!-- -->{%- comment -%}replo-liquid-chunk-end{%- endcomment -%}<div data-rid="c064288b-7120-47f1-a54c-7aebfd2785d7" data-replo-repeated-index=".0.0.0.0" class="r-hdzw7s" data-replo-product-container="{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}{{product.id}}{%- comment -%}replo-liquid-chunk-end{%- endcomment -%}" data-replo-product-handle="{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}{{product.handle}}{%- comment -%}replo-liquid-chunk-end{%- endcomment -%}"><product-form style="display:none"><form id="product-form-{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}{{product.id}}{%- comment -%}replo-liquid-chunk-end{%- endcomment -%}" method="post" data-productid="{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}{{product.id}}{%- comment -%}replo-liquid-chunk-end{%- endcomment -%}" encType="multipart/form-data" action="/cart/add" data-type="add-to-cart-form"><input type="hidden" name="id" data-productid="{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}{{product.id}}{%- comment -%}replo-liquid-chunk-end{%- endcomment -%}" value="{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}{{reploSelectedVariant.id}}{%- comment -%}replo-liquid-chunk-end{%- endcomment -%}"/><input type="hidden" name="quantity" value="1"/></form></product-form><div data-rid="b4cd6422-d3ae-492e-b3ac-d6ecabbac930" data-replo-repeated-index=".0.0.0.0.0" class="r-17xfqas" data-alchemy-prerendered-component-id="b4cd6422-d3ae-492e-b3ac-d6ecabbac930-.0.0.0.0.0.0">{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}<div style="width:100%;height:100%" data-alchemy-prerendered-placeholder="true">
    {% if product %}
      {% assign reploExistingProduct = product %}
    {% endif %}

    {% assign product = all_products['snooz-pro-white-noise-machine'] %} 
  <div id="looxReviews" data-product-id="{{product.id}}" class="loox-reviews-default"></div>
    

    {% if reploExistingProduct %}
      {% assign product = reploExistingProduct %} 
    {% endif %}
  </div>{%- comment -%}replo-liquid-chunk-end{%- endcomment -%}</div>{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}<!-- -->{% assign product = reploOriginalProductRm52 %}<!-- -->{% assign reploSelectedVariant = reploOriginalProductVariantRm52 %}<!-- -->{% assign reploSortedSellingPlans = reploOriginalSPGRm52 %}<!-- -->{% assign reploCompareAtPriceDifferencePercentage = reploOriginalComparePricePercentRm52 %}<!-- -->{%- comment -%}replo-liquid-chunk-end{%- endcomment -%}</div></div></div></div></div></div>
{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}
  <script type="application/json" id="replo-deps-products">
    [{"id":"7913518792920","handle": "snooz-pro-white-noise-machine","data":{{ all_products['snooz-pro-white-noise-machine'] | json }}},{"id":"8062371823832","handle": "well-rested-roomates-set-pro-midnight","data":{{ all_products['well-rested-roomates-set-pro-midnight'] | json }}},{"id":"8062381523160","handle": "well-rested-roomate-set-2-pack-original","data":{{ all_products['well-rested-roomate-set-2-pack-original'] | json }}},{"id":"8062383489240","handle": "dream-team","data":{{ all_products['dream-team'] | json }}},{"id":"5422665728164","handle": "snooz-go-travel-white-noise-machine","data":{{ all_products['snooz-go-travel-white-noise-machine'] | json }}},{"id":"8062386897112","handle": "professional-napper-bundle","data":{{ all_products['professional-napper-bundle'] | json }}},{"id":"9281552577","handle": "snooz-white-noise-machine","data":{{ all_products['snooz-white-noise-machine'] | json }}},{"id":"8009361555672","handle": "snooz-breez-smart-bedroom-fan-sound-machine","data":{{ all_products['snooz-breez-smart-bedroom-fan-sound-machine'] | json }}},{"id":"4482046001224","handle": "snooz-white-noise-sound-machine-travel-case","data":{{ all_products['snooz-white-noise-sound-machine-travel-case'] | json }}}]
  </script>
  {%- comment -%}replo-liquid-chunk-end{%- endcomment -%}{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}<script type="application/json" id="replo-deps-shopify-store">{ "shop": { "moneyFormat": {{ shop.money_format | json }} } }</script>{%- comment -%}replo-liquid-chunk-end{%- endcomment -%}