{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="contact page-width page-width--narrow section-{{ section.id }}-padding">
    {%- if section.settings.heading != blank -%}
      <h2 class="title title-wrapper--no-top-margin inline-richtext {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        {{ section.settings.heading }}
      </h2>
    {%- else -%}
      <h2 class="visually-hidden">{{ 'templates.contact.form.title' | t }}</h2>
    {%- endif -%}

    {%- liquid
      assign contact_form_class = 'isolate'
      if settings.animations_reveal_on_scroll
        assign contact_form_class = 'isolate scroll-trigger animate--slide-in'
      endif
    -%}
    {%- form 'contact', id: 'ContactForm', class: contact_form_class -%}
      <div class="grid grid--2-columns" style="gap: 20px;">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'text_input' -%}
              <div class="grid-item">
                <p>{{ block.settings.label }}</p>
              <div class="field">
                <input
                        class="field__input custom-contact-input"
                        autocomplete="{{ block.settings.autocomplete }}"
                        type="text"
                        id="ContactForm-{{ block.id }}"
                        name="contact[{{ block.settings.label | handleize }}]"
                        placeholder="{{ block.settings.placeholder }}"
                        {% if block.settings.required %}required="required"{% endif %}
                >
                {% if block.settings.placeholder != blank %}
                  <label class="field__label" for="ContactForm-{{ block.id }}">{{ block.settings.placeholder }}</label>
                {% endif %}
              </div>
              </div>
            {%- when 'email_input' -%}
            <div class="grid-item">
              <p>{{ block.settings.label }}</p>
              <div class="field field--with-error">
                <input
                        class="field__input custom-contact-input"
                        autocomplete="email"
                        type="email"
                        id="ContactForm-{{ block.id }}"
                        name="contact[email]"
                        placeholder="{{ block.settings.placeholder }}"
                        {% if block.settings.required %}required="required"{% endif %}
                >
                {% if block.settings.placeholder != blank %}
                  <label class="field__label" for="ContactForm-{{ block.id }}">{{ block.settings.placeholder }}</label>
                {% endif %}
              </div>
            </div>
            {%- when 'textarea' -%}
            <div class="grid-item grid-item--2-columns">
              <p>{{ block.settings.label }}</p>
              <div class="field">
                <textarea
                        id="ContactForm-{{ block.id }}"
                        class="text-area field__input"
                        name="contact[{{ block.settings.label | handleize }}]"
                        placeholder="{{ block.settings.placeholder }}"
                        {% if block.settings.required %}required="required"{% endif %}
                        rows="10"
                ></textarea>
                {% if block.settings.placeholder != blank %}
                  <label class="field__label" for="ContactForm-{{ block.id }}">{{ block.settings.placeholder }}</label>
                {% endif %}
              </div>
            </div>
            {%- when 'dropdown' -%}
            <div class="grid-item">
              <p>{{ block.settings.label }}</p>
              <div class="field">
                <select
                        id="ContactForm-{{ block.id }}"
                        name="contact[{{ block.settings.label | handleize }}]"
                        class="field__input"
                        {% if block.settings.required %}required="required"{% endif %}
                >
                  {% if block.settings.option1 != blank %}
                    <option value="{{ block.settings.option1 }}">{{ block.settings.option1 }}</option>
                  {% endif %}

                  {% if block.settings.option2 != blank %}
                    <option value="{{ block.settings.option2 }}">{{ block.settings.option2 }}</option>
                  {% endif %}

                  {% if block.settings.option3 != blank %}
                    <option value="{{ block.settings.option3 }}">{{ block.settings.option3 }}</option>
                  {% endif %}

                  {% if block.settings.option4 != blank %}
                    <option value="{{ block.settings.option4 }}">{{ block.settings.option4 }}</option>
                  {% endif %}

                  {% if block.settings.option5 != blank %}
                    <option value="{{ block.settings.option5 }}">{{ block.settings.option5 }}</option>
                  {% endif %}

                  {% if block.settings.option6 != blank %}
                    <option value="{{ block.settings.option6 }}">{{ block.settings.option6 }}</option>
                  {% endif %}

                  {% if block.settings.option7 != blank %}
                    <option value="{{ block.settings.option7 }}">{{ block.settings.option7 }}</option>
                  {% endif %}

                  {% if block.settings.option8 != blank %}
                    <option value="{{ block.settings.option8 }}">{{ block.settings.option8 }}</option>
                  {% endif %}

                  {% if block.settings.option9 != blank %}
                    <option value="{{ block.settings.option9 }}">{{ block.settings.option9 }}</option>
                  {% endif %}

                  {% if block.settings.option10 != blank %}
                    <option value="{{ block.settings.option10 }}">{{ block.settings.option10 }}</option>
                  {% endif %}
                </select>
              </div>
            </div>
            {%- when 'checkbox_group' -%}
              <div class="grid-item grid-item--2-columns">
                <p>{{ block.settings.checkboxes_description }}</p>
                <div class="checkbox-group">
                  {% for i in (1..8) %}
                    {% assign checkbox_enabled_key = 'checkbox_' | append: i | append: '_enabled' %}
                    {% assign checkbox_label_key = 'checkbox_' | append: i | append: '_label' %}
                    {% if block.settings[checkbox_enabled_key] %}
                      <div class="checkbox">
                        <input
                                type="checkbox"
                                id="ContactForm-{{ block.id }}-Checkbox{{ i }}"
                                name="contact[{{ block.settings[checkbox_label_key] | handleize }}]"
                        >
                        <label for="ContactForm-{{ block.id }}-Checkbox{{ i }}">{{ block.settings[checkbox_label_key] }}</label>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
      {%- if form.posted_successfully? -%}
        <div class="form-success-message">
          <p>Thank you for contacting us! We’ll be in touch shortly!</p>
        </div>
      {%- endif -%}
      <div class="contact__button">
        <button type="submit" class="button">
          {{ 'templates.contact.form.send' | t }}
        </button>
      </div>
    {%- endform -%}
  </div>
</div>


{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Contact form",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "text_input",
      "name": "Text Input",
      "settings": [
        {
          "type": "text",
          "id": "label",
          "label": "Label",
          "default": "Your Name"
        },
        {
          "type": "text",
          "id": "placeholder",
          "label": "Placeholder",
          "default": "Enter your name"
        },
        {
          "type": "checkbox",
          "id": "required",
          "label": "Required",
          "default": false
        }
      ]
    },
    {
      "type": "email_input",
      "name": "Email Input",
      "settings": [
        {
          "type": "text",
          "id": "label",
          "label": "Label",
          "default": "Your Email"
        },
        {
          "type": "text",
          "id": "placeholder",
          "label": "Placeholder",
          "default": "Enter your email"
        },
        {
          "type": "checkbox",
          "id": "required",
          "label": "Required",
          "default": false
        }
      ]
    },
    {
      "type": "textarea",
      "name": "Textarea",
      "settings": [
        {
          "type": "text",
          "id": "label",
          "label": "Label",
          "default": "Your Message"
        },
        {
          "type": "text",
          "id": "placeholder",
          "label": "Placeholder",
          "default": "Enter your message"
        },
        {
          "type": "checkbox",
          "id": "required",
          "label": "Required",
          "default": false
        }
      ]
    },
    {
      "type": "checkbox_group",
      "name": "Checkbox Group",
      "settings": [
        {
          "type": "text",
          "id": "checkboxes_description",
          "label": "Description for Checkboxes",
          "default": "Please select your preferences:"
        },
        {
          "type": "checkbox",
          "id": "checkbox_1_enabled",
          "label": "Enable Checkbox 1",
          "default": false
        },
        {
          "type": "text",
          "id": "checkbox_1_label",
          "label": "Checkbox 1 Label",
          "default": "Checkbox 1"
        },
        {
          "type": "checkbox",
          "id": "checkbox_2_enabled",
          "label": "Enable Checkbox 2",
          "default": false
        },
        {
          "type": "text",
          "id": "checkbox_2_label",
          "label": "Checkbox 2 Label",
          "default": "Checkbox 2"
        },
        {
          "type": "checkbox",
          "id": "checkbox_3_enabled",
          "label": "Enable Checkbox 3",
          "default": false
        },
        {
          "type": "text",
          "id": "checkbox_3_label",
          "label": "Checkbox 3 Label",
          "default": "Checkbox 3"
        },
        {
          "type": "checkbox",
          "id": "checkbox_4_enabled",
          "label": "Enable Checkbox 4",
          "default": false
        },
        {
          "type": "text",
          "id": "checkbox_4_label",
          "label": "Checkbox 4 Label",
          "default": "Checkbox 4"
        },
        {
          "type": "checkbox",
          "id": "checkbox_5_enabled",
          "label": "Enable Checkbox 5",
          "default": false
        },
        {
          "type": "text",
          "id": "checkbox_5_label",
          "label": "Checkbox 5 Label",
          "default": "Checkbox 5"
        },
        {
          "type": "checkbox",
          "id": "checkbox_6_enabled",
          "label": "Enable Checkbox 6",
          "default": false
        },
        {
          "type": "text",
          "id": "checkbox_6_label",
          "label": "Checkbox  Label",
          "default": "Checkbox 6"
        },
        {
          "type": "checkbox",
          "id": "checkbox_7_enabled",
          "label": "Enable Checkbox 6",
          "default": false
        },
        {
          "type": "text",
          "id": "checkbox_7_label",
          "label": "Checkbox 7 Label",
          "default": "Checkbox 7"
        },
        {
          "type": "checkbox",
          "id": "checkbox_8_enabled",
          "label": "Enable Checkbox 8",
          "default": false
        },
        {
          "type": "text",
          "id": "checkbox_8_label",
          "label": "Checkbox 8 Label",
          "default": "Checkbox 8"
        }
      ]
    },
    {
      "type": "dropdown",
      "name": "Dropdown",
      "settings": [
        {
          "type": "text",
          "id": "label",
          "label": "Label",
          "default": "Select Option"
        },
        {
          "type": "checkbox",
          "id": "required",
          "label": "Required",
          "default": false
        },
        {
          "type": "text",
          "id": "option1",
          "label": "Option 1",
          "default": "Option 1"
        },
        {
          "type": "text",
          "id": "option2",
          "label": "Option 2",
          "default": "Option 2"
        },
        {
          "type": "text",
          "id": "option3",
          "label": "Option 3",
          "default": "Option 3"
        },
        {
          "type": "text",
          "id": "option4",
          "label": "Option 4",
          "default": "Option 4"
        },
        {
          "type": "text",
          "id": "option5",
          "label": "Option 5",
          "default": "Option 5"
        },
        {
          "type": "text",
          "id": "option6",
          "label": "Option 6",
          "default": "Option 6"
        },
        {
          "type": "text",
          "id": "option7",
          "label": "Option 7",
          "default": "Option 7"
        },
        {
          "type": "text",
          "id": "option8",
          "label": "Option 8",
          "default": "Option 8"
        },
        {
          "type": "text",
          "id": "option9",
          "label": "Option 9",
          "default": "Option 9"
        },
        {
          "type": "text",
          "id": "option10",
          "label": "Option 10",
          "default": "Option 10"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name"
    }
  ]
}

{% endschema %}
